body {
    background-color: #2e3440;
    text-align: center;
    font-family: JetBrainsMono;
  }
  
  h1 {
    color: #bf616a;
    text-align: center;
  }
  
  h2 {
    color: #88C0D0;
    text-align: center;
  }
  
  h3 {
    color: #dceaf2;
    text-align: center;
  }

  p {
    color: #81a1c1;
    text-align:center;
    padding-left: 70px;
    padding-right: 70px;
  }
  
  script {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
      left: calc(50vw - ELEMENTWIDTH);
  }
  blockquote {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
      left: calc(50vw - ELEMENTWIDTH);
  }
  a {
    font-family: JetBrainsMono;
    font-size: 20px;
    text-align:center;
    color: #a3be8c;
  }

  html {
    background-color: #2e3440;
  }
  
